<div class="col-md-12 p-5">
    <h2>Edit Post</h2>
    <form class="form post-form">
    <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
        <label for="post-post">Post:</label>
        <input class="form-input" type="text" id="post-post" />
    </div>
    <div class="form-group">
        <button class="btn btn-custom" type="submit">Submit</button>
        <button class="btn delete-btn">Cancel</button>
    </div>
    </form>
</div>

<script src="/js/edit.js"></script>